---
// Homepage layout

import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard.astro';
import { getCollection, getEntry } from 'astro:content';

const home = await getEntry('page', 'home');
const posts = await getCollection('blog');
const { Content } = await home.render();
---

<Layout title="Snorri of the Stars">
	<main>
		<h1 class="hidden">Queer astrologer in Montreal</h1>

		<div class="section intro">
			<p class="h3">{home.data.intro}</p>
			<div class="image-container">
				<img src={home.data.image} alt={home.data.title} />
			</div>
			<div class="content">
				<Content />
			</div>
		</div>

		<div class="section">
			<div class="section-heading">
				<h2>Writing</h2>
				<a class="small" href="/writing">See all</a>
			</div>
			
			<div class="blog-grid">
				{posts.map(post => (
					<a href={`/${post.slug}`} class="card-link">
						<BlogCard
							title={post.data.title}
							description={post.data.description}
							image={post.data.image}
						/>
					</a>
				))}
			</div>
			<a class="button newsletter" href="">Sign up for email newsletter</a>
		</div>
		<div class="section">
			<div class="section-heading">
				<h2>Offerings</h2>
				<a class="small" href="/offerings">See all</a>
			</div>
			<p>add section here</p>
			<a class="button booking" href="">Book a consultation</a>
		</div>
	</main>
</Layout>

<style>
	.blog-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
	.card-link {
		text-decoration: none;
	}
	@media (max-width: 1200px) {
		.blog-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media (max-width: 900px) {
		.blog-grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 600px) {
		.blog-grid {
			grid-template-columns: 1fr;
		}
	}
</style>