---
import Navigation from './Navigation.astro';
import Button from './Button.astro';

const year = new Date().getFullYear()
const { links, booking_link, newsletter_link } = Astro.props;
---
<footer>
	<a href="/" class="logo">
		Snorri of the Stars
	</a>
	<div class="buttons">
		<Button title={booking_link.title} href={booking_link.url} className="booking" icon={booking_link.icon} newTab="_blank"/>
		<Button title={newsletter_link.title} href={newsletter_link.url} className="newsletter" icon={newsletter_link.icon} newTab="_blank"/>
	</div>

	<p>Email me — info(at)snorri(.)rest</p>

	<div class="bottom">
		<small class="copyright">&copy; {year}, Snorri of the Stars. </small>
		<small class="credits">
			Logo by <a href="https://www.instagram.com/casi.ta/" target="_blank">Casi Tanko</a><br>
			Website by <a href="https:/alexnawotka.com" target="_blank">Alex Nawotka</a>
		</small>

	</div>
	
</footer>

<style>
	footer {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		max-width: 1400px;
		margin: 4rem 0 0;
	}
	.buttons{
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: 640px){
			display: block;
		}
	}
	.bottom{
		display: flex;
		justify-content: space-between;
		align-items: end;
		
		small{ line-height: 120%; }	
	}
	.credits{
		text-align: right;
	}





	.nav-logo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-logo img{
		width: 3.4rem;
		height: auto;
		margin-bottom: .16rem;
	}
	.nav-links {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
</style>
